<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.jpeg" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <%# if user_signed_in? %>
          <li class="nav-item dropdown">
            <%= image_tag "lang", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "English", "#", class: "dropdown-item" %>
              <%= link_to "Spanish", "#", class: "dropdown-item" %>
              <%#= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
             <li class="nav-item active">
            <%= link_to "Who we are", team_path, class: "nav-link who" %>
          </li>
          <li class="nav-item">
            <%= link_to "Recent projects", projects_path, class: "nav-link recent" %>
          </li>
          <li class="nav-item">
            <%= link_to "Clients", clients_path, class: "nav-link clients" %>
          </li>
          <li>
            <%= link_to "Contact", "#", class: "btn btn-primary btn-position-form", data: {toggle: "modal", target:"#exampleModal"} %>
          </li>
        <%# else %>
          <!--li class="nav-item"-->
            <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
          <!--/li-->
        <%# end %>
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel"><strong>How can we help?</strong></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                <%= form_with url: "#", method: :get do |form| %>
                <%= form.label :message, "Your message:" %>
                <%= form.text_area :message, size: "50x2", class: "text-area p-2", value: " "%>
                <%= form.label :fullname, "Full name:" %>
                <%= form.text_area :fullname, size: "50x2", class: "text-area p-2", value: " "%>
                <%= form.label :email, "Email:" %>
                <%= form.text_area :email, size: "50X2", class: "text-area p-2", value: " " %>
                <%= form.label :phonenumber, "Phone number:" %>
                <%= form.text_area :phonenumber, size: "50x2", class: "text-area p-2", value: " " %>
                <% end %>
                <p><em>Thank you for your message.</em></p>
              </div>
              <div class="modal-footer">
                <%= link_to "Send", "#", data: { confirm: 'We received your message' }, method: :post, class:"btn btn-secondary", 'data-dismiss': "modal" %>
                <%# <button type="button" class="btn btn-secondary" data-dismiss="modal">Envoyer</button> %>
                <%# <button type="button" class="btn btn-primary btn-pink">Retour</button> %>
              </div>
            </div>
          </div>
      </ul>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
